<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Akram Mohammad</h1>
    <h3>Frontend Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="https://www.linkedin.com/in/akrym/" target="_blank">
      <img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png"
        alt="linkedin logo"
        class="rounded-circle me-2"
        width="24"
        height="24"
      />
    </a>
    <a href="https://www.github.com/in/akrym/" target="_blank">
      <img
        src="https://cdn1.iconfinder.com/data/icons/picons-social/57/github_rounded-512.png"
        alt="github logo"
        class="rounded-circle me-2"
        width="24"
        height="24"
      />
    </a>
    <a href="https://www.linkedin.com/in/akrym/" target="_blank">
      <img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png"
        alt="facebook logo"
        class="rounded-circle me-2"
        width="24"
        height="24"
      />
    </a>
    <a href="https://www.linkedin.com/in/akrym/" target="_blank">
      <img
        src="https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png"
        alt="discord logo"
        class="rounded-circle me-2"
        width="24"
        height="24"
      />
    </a>
  </div>
</div>
