<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>You can reach me at my email: <b>krymbusiness3@gmail.com</b></p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>

  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/akrym/"
      class="list-group-item item-list-item-action d-flex gap-3 py-3"
      target="_blank"
    >
      <img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png"
        alt="linkedin logo"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">LinkedIn</h3>
    </a>
    <a
      href="https://www.github.com/in/akrym/"
      class="list-group-item item-list-item-action d-flex gap-3 py-3"
      target="_blank"
    >
      <img
        src="https://cdn1.iconfinder.com/data/icons/picons-social/57/github_rounded-512.png"
        alt="github logo"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">GitHub</h3>
    </a>
    <a
      href="https://www.linkedin.com/in/akrym/"
      class="list-group-item item-list-item-action d-flex gap-3 py-3"
      target="_blank"
    >
      <img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png"
        alt="facebook logo"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Facebook</h3>
    </a>
    <a
      href="https://www.linkedin.com/in/akrym/"
      class="list-group-item item-list-item-action d-flex gap-3 py-3"
      target="_blank"
    >
      <img
        src="https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png"
        alt="discord logo"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Discord</h3>
    </a>
  </div>
</div>
