<div class="container">
  <div class="mb-2">
    <div>
      <button
        class="btn btn-outline-primary mb-2 me-2"
        (click)="isCollapsed = !isCollapsed"
      >
        Filter
      </button>
      <button
        class="btn btn-outline-secondary mb-2"
        (click)="resetFilter()"
        [hidden]="!isFiltering"
      >
        Reset
      </button>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width: 250px">
        <form>
          <div class="row mx-0">
            <div class="col">
              <small><b>Languages:</b></small>
              <div class="form-group">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="typescript"
                    (change)="filterProjects()"
                    name="Typescript"
                  />
                  <label class="form-check-label small">Typescript</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="java"
                    (change)="filterProjects()"
                    name="java"
                  />
                  <label class="form-check-label small">Java</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="js"
                    (change)="filterProjects()"
                    name="js"
                  />
                  <label class="form-check-label small">Javascript</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="sass"
                    (change)="filterProjects()"
                    name="sass"
                  />
                  <label class="form-check-label small">Sass</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="htmlcanvas"
                    (change)="filterProjects()"
                    name="htmlcanvas"
                  />
                  <label class="form-check-label small">HTMLCanvas</label>
                </div>
              </div>
            </div>
            <div class="col">
              <small><b>.</b></small>
              <div class="form-group">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="angular"
                    (change)="filterProjects()"
                    name="Angular"
                  />
                  <label class="form-check-label small">Angular</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="react"
                    (change)="filterProjects()"
                    name="react"
                  />
                  <label class="form-check-label small">React</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="rxjs"
                    (change)="filterProjects()"
                    name="rxjs"
                  />
                  <label class="form-check-label small">RxJs</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="firebase"
                    (change)="filterProjects()"
                    name="firebase"
                  />
                  <label class="form-check-label small">Firebase</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="html"
                    (change)="filterProjects()"
                    name="html"
                  />
                  <label class="form-check-label small">HTML</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="css"
                    (change)="filterProjects()"
                    name="css"
                  />
                  <label class="form-check-label small">CSS</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-4 col-md-6 mb-4"
      style="max-width: 380px; min-width: 380px"
      *ngFor="let project of projects"
    >
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
