<div class="container text-center">
  <button class="btn btn-primary mb-5 shadow border" (click)="downloadFile()">
    Download PDF Resume
  </button>

  <accordion>
    <accordion-group heading="Work Experience">
      <div style="text-align: left">
        <h2 class="mb-0">Frontend Developer</h2>
        <h3 class="text-primary">Freelance</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
      <div style="text-align: left">
        <h2 class="mb-0">Frontend Developer</h2>
        <h3 class="text-primary">Freelance</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Education">
      <div style="text-align: left">
        <h2 class="mb-0">Bachelor's of Science in Computer Science</h2>
        <h3 class="text-primary">Al-Refak University</h3>
        <ul>
          <li>Graduated February 2025</li>
          <li>Graduated with a 75% GPA</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
      <div style="text-align: left">
        <h2 class="mb-0">Frontend Developer</h2>
        <h3 class="text-primary">Freelance</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Certifications">
      <div style="text-align: left">
        <h3>MongoDB University</h3>
        <ul>
          <li>Graduated February 2025</li>
          <li>Graduated with a 75% GPA</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <h3>MongoDB University</h3>
        <ul>
          <li>Graduated February 2025</li>
          <li>Graduated with a 75% GPA</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Skills">
      <div class="row" style="text-align: left">
        <div class="col">
          <h3>MongoDB University</h3>
          <ul>
            <li>Graduated February 2025</li>
            <li>Graduated with a 75% GPA</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
        <div class="col">
          <h3>MongoDB University</h3>
          <ul>
            <li>Graduated February 2025</li>
            <li>Graduated with a 75% GPA</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
        <div class="col">
          <h3>MongoDB University</h3>
          <ul>
            <li>Graduated February 2025</li>
            <li>Graduated with a 75% GPA</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
