<div class="container">
  <div class="row">
    <!-- About me -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/nahh.jpg"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
          similique cumque dolores sequi officia asperiores praesentium
          blanditiis, veritatis eum repellendus, minima debitis amet eaque,
          reprehenderit nam totam cum aliquam aspernatur?
        </p>
      </div>
    </div>
    <!-- Featured Project -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
    </div>
  </div>
</div>
