<div class="container">
  <div class="row">
    <!-- About me -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2 style="margin-top: 70px">About Me</h2>
        <!-- <img
          src="../../assets/pfp.jpg"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        /> -->
        <p class="about-me">
          Hello! my name is Akram i'm a Computer science student at Al-Refak
          University self-learning and freelancing in software engineering since
          2019 i'm passionate about creating fullstack web applications and i do
          game development as a hobby
        </p>
      </div>
    </div>
    <!-- Featured Project -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredProject.name }}</h4>

        <carousel>
          <slide *ngFor="let image of featuredProject.pictures">
            <img [src]="image" />
          </slide>
        </carousel>

        <p class="mt-2">{{ featuredProject.summary }}</p>
        <p>Visit the portfolio section to learn more!</p>
      </div>
    </div>
  </div>
</div>
